.wallet {
  //margin-left: 20px;
  //margin-right: 20px;
  //margin-top: 20px;
  //padding-bottom: 20px;

  .wallet_wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    //overflow: hidden;
  }
  .qr {

    display: flex;
    width: 222px;
    @include z-depth-1;
    padding: 10px;
  }

  .withdraw form {
    box-shadow:unset;
    border: unset;
    padding:unset;
  }
  .form {
    margin: unset;
    max-width:100%;
    padding: 10px;
  }
  .info {
    flex: 1;
    margin-left: 20px;
    overflow: hidden;
    align-self: flex-start;

    > div {
      width: 100%;
    }


    .address::-webkit-scrollbar {
      display: none;
    }
    .address {
      margin-bottom: 10px;
      background: #f4f4f4;
      padding: 10px;
      overflow-x: scroll;
      white-space: nowrap;

    }
    .address:active {
      background: rgba(130, 245, 182, 0.5);
    }
    strong {
      color: $dark_color
    }
    .balance {
      margin: 10px 0;
    }
  }
}

.block_header {
  //font-family: 'Roboto Slab', Courier, serif;
  background: var(--primary);
  color: $white;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  width: unset;
  text-transform: uppercase;
  @include z-depth-x;
  //max-width: 700px;
  //margin: 10px auto;
  //border-radius: 10px;
}

.blog {
  padding: 0 0 50px;
  position: relative;
  min-height: $pageH;
  //min-height: calc((100vh - 215px) - 55px);
  text-align: center;
  overflow-wrap: break-word;



  .post__tools {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  h1 {
    color: $white;
    max-width: 700px;
    //margin-bottom: 50px;
    padding: 25px 0;
    margin: 0 auto;
    strong {
      color: $secondary;
    }
  }

  .anchor {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
  }



  &:before {
    content: '';
    position: fixed;
    height: 250px;
    background-color: $dark_color;
    width: 100%;
    left: 0;
    top: 0;
  }

  .article_list_item {



    .blog__post_title {
      a {
      font-family: 'Roboto Slab', Courier, serif;
      }
      font-size: 2.8rem;
      margin-bottom: 20px;

    }
    .post_info .post_info__meta {
      margin-left: 0;
    }
  }




  .blog__title_image_caption {
    margin-top: 5px;
  }

  .post_info + .post_info {
    margin-top: 20px;
  }
  .post_info {
    text-align: left;
    //padding-left: 20px;
    //padding-right: 20px;
    //padding-bottom: 10px;
    //padding-top: 20px;

    * {
      font-family: 'Roboto Slab', Courier, serif;
      letter-spacing: 0.05em;
      line-height: 1.8em;
    }

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;

    .hash {
      width: 100%;
      max-width: 200px;
      white-space: nowrap;
      vertical-align: top;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $white;
      strong {
        color: $dark_color;
      }
    }
    .post_info__avatar {
      width: 90px;
      //background: lightgreen;

      //padding: 10px;
      //background-color: $dark_color;
      //border: 5px solid $orange;
    }

    a,
    .link,
    .post_info__tags span {
      color: $white;
      background: $primary;
      padding-left: 5px;
      padding-right: 5px;
      font-weight: normal;
    }

    a:hover,
    a:focus {
      background: $dark_color;
    }

    .post_info__tags a {
      margin-right: 10px;
    }

    .post_info__meta {
      @include z-depth-3;
      flex: 1;
      background: $lightgrey;
      padding-right: 10px;
      border-left: 5px solid $dark_color;
      color: $black;

      //margin-left: 10px;
      strong {
        color: $dark_color;
      }
      > div {
        padding-left: 10px;
        display: inline-block;
      }
      span {
      }
    }

    img {
      vertical-align: middle;
      width: 90px;
      border-radius: 50%;
    }
    > div {
      //vertical-align: middle;
      //display: inline-block;
    }
  }
  .blog__disqus {
    padding-left: 20px;
    padding-right: 20px;
  }

  .blog__article {
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    letter-spacing: 0.05em;
    padding-bottom: 10px;






  }

  @include mq($min-width: $vw-medium) {
    h1 {
      padding: 25px 0;
      margin: 0 auto;
    }
  }

  @include mq($max-width: 550px) {
    .post_info {
      flex-flow: column;
      .post_info__avatar {
        display: none;
      }
      .post_info__meta {
        margin-left: 0;
      }
    }
  }

  @include mq($max-width: 600px) {
    .wallet {
      .wallet_wrapper {
        flex-flow: column;
      }
      .info {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }

  @include mq($min-width: $vw-small) {
    //min-height: $mobilePageH;
    min-height: calc((100vh - 215px) - 55px);
  }
}
