$test: #458260;
$test: #ff5646;
$test: #82f5b6;
$test: #ff6f61;
$test: #d65076;
$test: #00853d;
$test: #adcbe3;
$test: #e15d44;
$test: #40c18e;
$test: #de5f5f;
$test: #ffec8d;
$test: #fac5c3;
$test: #ff9900;
$test: #fff68f;
$test: #aadaff;
$test: #82f5b6;
$test: #ffef61;
$test: #073b4c;
$test: #6d9eeb;
$test: #fac5c3;
$test: #8cc1c1;
$test: #e0452f;
$test: #b9dffd;
$test: #353105;

$white: #fff;
$black: #1d1e1c;
$light_black: #253032;
$grey: #babdb5;
$lightgrey: #f4f4f4;

$primary: #ff9900;
$secondary: lighten(#ff9900,40%);
$dark_color: darken(#ff9900,38%);;

$negative: #de5f5f;
$positive: #82f5b6;

$turtle: #00853d;
